body{
	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
}

.quitar-float{
	float: none;
}

.espacio-arriba{
	margin-top: 100px;
}

div#contenidoTexto{
	margin: 0px 10%;
	text-align: justify;
}

.pacifico{
	font-family: 'Pacifico', cursive;
}

.grande{
	font-size: 4em;
}

.med{
	font-size: 2em;
	font-family: cursive;
}

.verde{
	color: #00887C;
}

.espacio-derecha{
	margin-right: 1em;
}

a,.azul{
	color: #009FFF;
}

.no-lista{
	margin: 0px;
	padding: 0px;
}

.no-lista li{
	list-style-type: none;
}

.se-gris{
	background-color: #eee;
}

.padding-largo{
	padding: 5px 10px;
}

.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}

.vete-arriba{
	vertical-align: top;
}

.mediano{
	font-size: 1.5em;
}

.no-lista{
	color: #00887C;
}

.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

/*.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}*/
